<h1>
  Edit like #<%= @like.id %>
</h1>

<hr>

<!-- Form like start -->
<form action="/update_like/<%= @like.id %>" method="post">
<!-- Form like end -->

  <!-- Label and input for dish_id start -->
  <div class="form-group">
    <label for="dish_id">
      Dish
    </label>

    <!-- Input for dish_id start -->
    <%= select_tag(:dish_id, options_from_collection_for_select(Dish.all, :id, :name, @like.dish_id), :class => "form-control") %>
    <!-- Input for dish_id end -->
  </div>
  <!-- Label and input for dish_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @like.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for venue_id start -->
  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <!-- Input for venue_id start -->
    <input type="text" id="venue_id" name="venue_id" class="form-control" value="<%= @like.venue_id %>">
    <!-- Input for venue_id end -->
  </div>
  <!-- Label and input for venue_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update like
  </button>
</form>

<hr>

<a href="/likes">
  Go back
</a>
